@import "~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background: white;
}
.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: calc(16px + 2vmin);
  }
  margin: 1em 0;
}

.spreadsheet {
  margin: 1em;
}

.fit {
  width: auto;
}
